<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="header">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav">
                    <li><h1>Grocery Store</h1></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div ng-controller="navbarController as navCtrl">
            <ul class="gc-navbar">
                <a ui-sref="products"> <li ng-click="navCtrl.changeTab(1);"> Products </li></a>
                <a ui-sref="categories"><li ng-click="navCtrl.changeTab(2);"> Categories </li></a>
                <a ui-sref="relationships"> <li ng-click="navCtrl.changeTab(3);">Relationships </li></a>
                <a ui-sref="priceSets"><li ng-click="navCtrl.changeTab(4);"> Prices</li> </a>
                <a ui-sref="productReports"><li ng-click="navCtrl.changeTab(5);"> Product Reports</li> </a>
            </ul>
        </div>
        @RenderBody()


    </div>
    <div id="footer">
        <p>&copy; @DateTime.Now.Year - Grocery Store</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
</body>
</html>
